# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [108]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [109]:
cities_df2 = pd.read_csv('../Weather_Py/weatherpy.csv')
cities_df2 =cities_df2.drop(columns = ['Unnamed: 0'])
cities_df2.head()

,Cloudy,Humid,ID,Lat,Lon,Max Temp,Name,Temp,Wind
0,78,32,3347353,-14.66,17.68,70.60,Menongue,70.60,6.69
1,40,72,6148373,50.10,-91.92,62.60,Sioux Lookout,61.09,3.36
2,100,73,4035715,-21.21,-159.78,71.60,Avarua,71.60,8.05
3,90,83,5848280,22.08,-159.32,84.20,Kapaa,81.64,13.87
4,0,100,2907911,49.41,8.69,57.99,Heidelberg,53.47,2.24

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [110]:
# Store 'Lat' and 'Lng' into  locations 
locations = cities_df2[["Lat", "Lon"]].astype(float)

# Convert Poverty Rate to float and store
humidity = cities_df2["Humid"].astype(float)

In [111]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [127]:
cities_df = cities_df2.loc[(cities_df2['Max Temp'] <= 80) & (cities_df2['Max Temp'] >= 65)]
cities_df = cities_df.loc[(cities_df['Wind'] >= 7.5) & (cities_df['Wind'] <= 20)]
cities_df = cities_df.loc[(cities_df['Cloudy'] >= 10) & (cities_df['Cloudy'] <= 65)]
hotels_df = pd.DataFrame(cities_df)
hotels_df.dropna
hotels_df

,Cloudy,Humid,ID,Lat,Lon,Max Temp,Name,Temp,Wind
43,20,73,3652764,-0.74,-90.35,71.60,Puerto Ayora,69.80,14.99
50,40,27,4011743,23.99,-104.67,77.00,Constitucion,76.01,10.29
57,40,68,2128975,43.32,145.57,66.20,Nemuro,66.20,13.87
104,24,94,2303611,4.87,-2.24,76.00,Axim,76.00,8.55
131,60,61,3984078,25.95,-105.37,73.84,Santa Maria del Oro,73.84,8.32
137,20,94,2562501,35.91,14.50,75.20,Sliema,75.06,13.87
139,49,46,3457859,-21.61,-55.17,76.00,Maracaju,76.00,7.54
153,17,48,921028,-14.06,32.43,68.98,Chadiza,68.98,7.72
186,20,38,6255012,-34.58,150.85,66.00,Flinders,63.32,9.17
194,39,36,2068110,-15.77,128.74,77.00,Kununurra,77.00,16.11
202,20,77,3372760,38.73,-27.07,66.20,Praia da Vitoria,66.20,11.34
216,40,78,3388443,-6.07,-35.24,78.80,Sao Jose de Mipibu,75.97,12.75
222,52,82,191038,-1.37,38.02,65.02,Kitui,65.02,8.41
227,32,76,921786,-11.38,43.28,77.62,Mitsamiouli,77.62,8.93
239,64,65,3453439,-20.63,-46.00,66.28,Ponta do Sol,66.28,13.53
307,39,77,1849154,32.19,130.02,72.58,Ushibuka,72.58,10.45
324,59,70,1622318,-9.65,120.26,78.52,Waingapu,78.52,12.37
366,40,88,3668605,11.24,-74.21,78.80,Santa Marta,78.80,9.17
380,40,87,5367788,34.64,-120.46,77.00,Lompoc,67.33,10.29
425,40,78,3394023,-5.81,-35.21,78.80,Natal,76.06,12.75
429,40,82,3652758,-0.90,-89.60,68.00,Puerto Baquerizo Moreno,68.00,13.87
445,36,87,2396853,-1.57,9.26,76.72,Omboue,76.72,11.18
482,27,36,3840092,-42.77,-65.04,67.18,Puerto Madryn,67.18,16.84
532,20,78,4951594,42.08,-72.03,78.01,Southbridge,73.81,14.99

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [137]:
# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
hotels_df['Hotel'] = 'NuLL'
hotels_df['Country'] = 'NuLL'
coordinates = []

for index, row in hotels_df.iterrows():
    try:
        lat_lon = f"{row['Lat']}, {row['Lon']}"
        coordinates.append((row['Lat'],row['Lon']))
        target_radius = 5000
        target_type = "hotel"
        # set up a parameters dictionary
        params = {
        "location": lat_lon,
        "radius": target_radius,
        "key_word": target_type,
        "key": g_key
        }

        # run a request using our params dictionary
        response = requests.get(base_url, params=params)
        response1 = response.json()
        hotels_df.loc[index,'Hotel'] = response1['results'][1]['name']
        comma = response1['results'][1]['plus_code']['compound_code'].rfind(',')
        hotels_df.loc[index,'Country'] = response1['results'][1]['plus_code']['compound_code'][comma+2:]
    except Exception as E:
        print(E)

In [138]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel}</dd>
<dt>City</dt><dd>{Name}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotels_df.iterrows()]

In [139]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(coordinates)
marker_layer = gmaps.marker_layer(coordinates, info_box_content=hotel_info)

# Add the layer to the map
fig.add_layer(marker_layer)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))